<%- include('../partials/header') %>
<div class="container">
  <header class="jumbotron">
    <h1>Welcome to YelpCamp</h1>
    <p>view our hand-picked campgrounds from all over the world</p>
    <p>
      <a class="btn btn-primary" href="/campgrounds/new">add new campground</a>
    </p>
  </header>
  <div class="row">
    <% campgrounds.forEach(campground => { %>
    <div class="col-md-3 col-sm-6">
      <!--  -->
      <div class="ui card mb-4">
        <div class="content">
          <div class="right floated meta"><%= campground.created.toLocaleString()%></div>
          &#128516; <%= campground.author.username%>
        </div>
        <div class="image">
          <img class="card-img-top" src="<%= campground.img%>" />
        </div>
        <div class="content">
          <a href="/campgrounds/<%= campground._id %>">
            <span class="right floated">
              <i class="angle double right icon"></i>view
            </span>
          </a>
          <i class="comment icon"></i>
          <%= campground.comments.length%> comments
        </div>
      </div>
      <!--  -->
    </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer') %>