<%- include("../partials/header") %>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <img class="card-img-top" src="<%= campground.img %>" />
        <div class="card-body">
          <h5 class="card-title float-left"><%= campground.name %></h5>
          <h5 class="card-title float-right"><%= campground.price %></h5>
          <p class="card-text"><%= campground.description %></p>
          <div>
            <i>submitted by - <%= campground.author.username%></i>
          </div>
          <% if(currentUser && currentUser._id.equals(campground.author.id)) {%>
          <div>
            <form class="button-inline" action="/campgrounds/<%= campground._id %>/edit" method="GET">
              <button class="btn btn-sm btn-outline-warning">EDIT</button>
            </form>
            <form class="button-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-outline-danger">DELETE</button>
            </form>
          </div>
          <% } %>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <a class="btn btn-sm btn-outline-success" href="/campgrounds/<%=campground._id%>/comments/new">comment</a>
          </div>
          <hr />
          <div class="list-group">
            <% campground.comments.forEach(comment => { %>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= comment.author.username %></h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1"><%= comment.text %></p>
              <% if(currentUser && currentUser._id.equals(comment.author.id)) {%>
              <small>
                <form class="button-inline" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id%>/edit"
                  method="GET">
                  <button class="btn btn-sm btn-outline-warning">EDIT</button>
                </form>
                <form class="button-inline"
                  action="/campgrounds/<%= campground._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-outline-danger">DELETE</button>
                </form>
              </small>
              <% } %>
            </a>
            <%});%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>