<%- include("../partials/header") %>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-xs-12">
      <div class="ui card" id="card">
        <img class="card-img-top" src="<%= campground.img %>" />
        <div class="content">
          <div class="right floated meta">KSH. <%= campground.price%></div>
          <%= campground.name%>
        </div>
        <div class="card-body">
          <p class="card-text"><%= campground.description %></p>
          <div>
            <i>submitted by - <%= campground.author.username%></i>
          </div>
          <% if(currentUser && currentUser._id.equals(campground.author.id)) {%>
          <div>
            <form class="button-inline" action="/campgrounds/<%= campground._id %>/edit" method="GET">
              <button class="btn btn-sm btn-outline-warning">EDIT</button>
            </form>
            <form class="button-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-outline-danger">DELETE</button>
            </form>
          </div>
          <% } %>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <a class="btn btn-sm btn-outline-success" href="/campgrounds/<%=campground._id%>/comments/new">comment</a>
          </div>
          <!-- COMMENTS -->
          <div class="ui list">
            <% campground.comments.forEach(comment => { %>
            <div class="item">
              <img class="ui avatar image"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw_2ParYXJZ9BWUUJ8fTioVDdqPe0bbBJ9-rhl4kkBeUFxcLP3&usqp=CAU">
              <div class="content">
                <a class="header"><%= comment.author.username%></a>
                <div class="description"><%= comment.text %></div>
              </div>
              <% if(currentUser && currentUser._id.equals(comment.author.id)) {%>
              <div class="right floated meta">
                <small>
                  <form class="button-inline"
                    action="/campgrounds/<%= campground._id %>/comments/<%= comment._id%>/edit" method="GET">
                    <button class="btn btn-sm btn-outline-warning">EDIT</button>
                  </form>
                  <form class="button-inline"
                    action="/campgrounds/<%= campground._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-outline-danger">DELETE</button>
                  </form>
                </small>
              </div>
              <% } %>
            </div>
            <hr />
            <%});%>
          </div>
          <!--  -->
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>
<%- include("../partials/footer") %>